In [ ]:
import pandas as pd
import numpy as np

## Praca domowa (16 pkt)

Wgraj dane z pliku DANE_PAD_O3.csv jako ramkę danych.

Oblicz liczebność każdej wartości w kolumnie COUNTRY.

In [ ]:
frame = pd.read_csv('PAD_03_PD.csv', delimiter=';', on_bad_lines='skip') #ścieżka albo nazwa pliku. on_bad_lines='skip', index='id'

frame.groupby('Country').count()

          ID  owns_car  owns_TV  owns_house  owns_Phone  gender  Age
Country
A        328       327      327         327         328     326  328
B        201       201      200         198         201     200  201
C        186       185      186         184         186     184  186
D         78        78       78          78          78      78   78

W nowej kolumnie ‘owned_goods’ dodaj zmienną, która będzie informowała o liczbie posiadanych dóbr (zliczyć ile dana osoba posiada w sumie dóbr).

In [ ]:
frame['owned_goods'] = frame.iloc[:, 2:7].sum(axis=1)

frame.sample(10)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

,ID,Country,owns_car,owns_TV,owns_house,owns_Phone,gender,Age,owned_goods
709,710,B,0.0,1.0,0.0,1,K,58,2.0
483,484,D,1.0,1.0,1.0,1,K,27,4.0
330,331,A,0.0,0.0,0.0,1,M,35,1.0
94,95,B,0.0,1.0,0.0,1,K,60,2.0
693,694,C,0.0,1.0,0.0,1,K,44,2.0
685,686,A,0.0,0.0,0.0,1,M,57,1.0
555,556,B,0.0,0.0,0.0,1,M,64,1.0
234,235,C,0.0,1.0,0.0,1,K,24,2.0
177,178,C,0.0,1.0,0.0,1,K,31,2.0
762,763,A,0.0,0.0,0.0,1,M,58,1.0

Porównaj średnią posiadanych dóbr między kobietami i mężczyznami. Wynik zaokrąglij do 2 miejsc po przecinku.

In [ ]:
frame.groupby(['gender']).mean().round(decimals=2)

            ID  owns_car  owns_TV  owns_house  owns_Phone    Age  owned_goods
gender
K       416.39      0.48     0.91        0.41        1.00  42.65         2.79
M       387.80      0.00     0.00        0.00        0.89  43.75         0.89

Stwórz ramkę danych, która zawierać będzie w pierwszej kolumnie wartość zmiennej COUNTRY, w drugiej kolumnie, średnią posiadanych dóbr w danym kraju (Wynik zaokrąglij do 2 miejsc po przecink), a w trzeciej kolumnie minimum wieku.

In [ ]:
frame.groupby(['Country']).agg({'owned_goods':"mean", 'Age':"min"})

         owned_goods  Age
Country
A           0.862805   18
B           1.452736   18
C           3.021505   18
D           4.000000   18