In [2]:
import pandas as pd
import numpy as np

Zadanie 1 (5 pkt)


Wgraj zawartość pliku orders.csv do ramki danych.
Przyjrzyj się danym, wykorzystując poznane metody (describe, info, head) zanalizuj dane.

Następnie:



1. Zamień order_date na format daty. Upewnij się, że w rezultacie data będzie w formacie: rok-miesiąc-dzień;
2. Sprawdź ile i jakie unikalne wartości znajdują się w kolumnie T-shirt category;
3. Wyczyść kolumnę tshirt_category normalizując nazwy produktów. Upewnij się, że dla każdej kategorii funkcjonuje jedna nazwa, np. zamiast white i wh jest tylko jedna wersja white. Skorzystaj z klasy string i metody apply;
4. Rozdziel kolumnę tshirt category na 3 kolumny: tshirt_type, która będzie mówiła o tym czy jest to koszulka, bluza czy coś innego, tshirt_size, która będzie informowała o rozmiarze koszulki, i tshirt_colour, która będzie informowała o kolorze. Skorzystaj z metody apply.
5. Znajdź zamówienia złożone między 31 grudnia 2014 a 2 sierpnia 2016.

In [3]:
orders = pd.read_csv('orders.csv')

#orders.info()
#orders.head()
#1
orders['order_date'] = pd.to_datetime(orders['order_date'])
#w momencie w którym dodaję format='%Y%m%d' wyskakuje ValueError: time data '2016/09/04' does not match format '%Y%m%d' (match)
orders.info()
orders.head()

#2
orders['tshirt_category'].unique()
#array(['White T-Shirt M', 'White T-Shirt F', 'Wh Tshirt F',
#       'Black T-Shirt F', 'Hoodie', 'Black T-Shirt M', 'Tennis Shirt',
#       'Wh Tshirt M', 'Bl Tshirt F', 'Bl Tshirt M'], dtype=object)

#3
orders['tshirt_category'].str.strip()
orders['tshirt_category'].replace({'Wh Tshirt M':'White T-Shirt M', 'Wh Tshirt F':'White T-Shirt F', 'Bl Tshirt F':'Black T-Shirt M', 'Bl Tshirt M':'Black T-Shirt M'}, inplace=True)
orders['tshirt_category'].unique()

#4
orders[["tshirt_color", "tshirt_type", "size"]] = orders['tshirt_category'].str.split(' ', -1, expand=True)
#Jak dodac warunek do petli
#orders[["tshirt_color", "tshirt_type", "size"]] = orders['tshirt_category'].str.apply(lambda x: if orders['tshirt_category'] in 'Hoodie': orders['tshirt_category'].split(' ', -1, expand=True))
orders.sample(20)

#5
from datetime import datetime
d_from = '2014.12.31'
d_to = '2016.08.02'
d_from = datetime.strptime(d_from, '%Y.%m.%d')
d_to = datetime.strptime(d_to, '%Y.%m.%d')
print(f'{type(d_from)} !!!!!!!!!!!!!!!!!!!!!!')

print(f'\nOrders between {d_from} and {d_to}\n')
#nie rozumiem dlaczego nie działa warunek - osobno działają
orders_between = orders[(orders['order_date'] > d_from) & ([orders['order_date']] < d_to)]
#orders_between = orders[(orders['order_date'] > d_to)]
orders_between.sample(20)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26552 entries, 0 to 26551
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   order_date       26552 non-null  datetime64[ns]
 1   pages_visited    26552 non-null  int64
 2   order_id         26552 non-null  object
 3   customer_id      26552 non-null  object
 4   tshirt_category  26552 non-null  object
 5   tshirt_price     26552 non-null  float64
 6   tshirt_quantity  26552 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(2), object(3)
memory usage: 1.4+ MB
<class 'datetime.datetime'> !!!!!!!!!!!!!!!!!!!!!!

Orders between 2014-12-31 00:00:00 and 2016-08-02 00:00:00

TypeError: ignored

Zadanie 2 (4 pkt)


Wgraj plik customers.csv do ramki danych. 

Następnie:
1. Wypisz kolumny;
2. Porównaj rozmiar ramki z rozmiarem ramki w zadaniu 1;
3. Zmień nazwę kolumny customerID  na customer_id upewniając się, że dane zmiana zostanie zapisana w pamięci dzięki jednemu z argumentów metody do zmiany nazwy kolumny;
4. Połącz ramkę orders z ramką customers po kolumnie customer_id. Z której metody skorzystasz? Zostaw odpowiedź w komentarzu do zadania w kodzie (np. blok komentarzem ‘’’ ‘’’).

In [8]:
customers = pd.read_csv('customers.csv')
#1
customers.columns

#2 
print(f' Size of rders.csv equoal \n{orders.size}, \n size of customers.csv equal \n{customers.size} \n Difference between first and secound frames quaual \n{orders.size-customers.size}')

#3
customers.rename(columns = {'customerID':'customer_id'}, inplace = True)
customers.columns

#4
customers.head()
#We can marge this frames by inner join on customer_id column, in case that this id is uniqe in both frames
boolean_customers = customers['customer_id'].duplicated().any()
boolean_orders = customers['customer_id'].duplicated().any() 
print(boolean_customers) #true means, that any one position gets boolean value True, so we have only uniqs id
print(boolean_orders) # in both of columns
#In this case, I use inner join option, to generate list of all customers, who bought this products in this period 

orders_customers = pd.merge(orders, customers, how='inner')
orders_customers.sample(20)

 Size of rders.csv equoal
265520,
 size of customers.csv equal
112596
 Difference between first and secound frames quaual
152924
True
True

,order_date,pages_visited,order_id,customer_id,tshirt_category,tshirt_price,tshirt_quantity,tshirt_color,tshirt_type,size,gender,birthdate,user_agent,ip_address,campaign
829,2016-10-12,11,HTS-670684-0005,670684,White T-Shirt M,20.0,1,White,T-Shirt,M,F,1984/6/2,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...,119.111.17.196,True
8380,2014-09-13,13,HTS-757150-0003,757150,White T-Shirt M,20.0,1,White,T-Shirt,M,M,1968/5/30,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,64.214.219.4,True
13403,2014-11-23,14,HTS-662704-0002,662704,Black T-Shirt F,17.5,22,Black,T-Shirt,F,M,1957/9/7,Mozilla/5.0 (Macintosh; Intel Mac OS X 10.12; ...,77.201.56.78,False
25410,2015-11-01,15,HTS-dslgtk-0001,dslgtk,White T-Shirt F,18.0,2,White,T-Shirt,F,F,1961/3/24,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,76.23.131.94,True
3374,2015-05-14,11,HTS-407711-0001,407711,Hoodie,23.0,1,Hoodie,None,None,F,1945/2/18,Mozilla/5.0 (Macintosh; Intel Mac OS X 10.12; ...,167.186.156.49,True
3301,2014-08-30,5,HTS-213893-0002,213893,Tennis Shirt,24.0,3,Tennis,Shirt,None,F,1976/6/14,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:51....,116.87.59.184,False
18243,2014-11-04,9,HTS-698424-0002,698424,Black T-Shirt M,19.0,15,Black,T-Shirt,M,F,1868/1/18,Mozilla/5.0 (Windows NT 10.0; WOW64; rv:52.0) ...,175.211.24.38,False
22178,2015-03-02,10,HTS-704512-0002,704512,Hoodie,23.0,1,Hoodie,None,None,NaN,1977/1/9,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,42.150.122.80,False
12759,2014-08-01,10,HTS-015420-0001,015420,White T-Shirt M,20.0,2,White,T-Shirt,M,M,1966/8/30,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,74.199.25.106,True
3355,2013-10-31,13,HTS-902889-0001,902889,Black T-Shirt M,19.0,6,Black,T-Shirt,M,M,1946/3/4,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,111.129.168.15,True
21458,2015-10-05,13,HTS-oxtjf2-0001,oxtjf2,Black T-Shirt F,17.5,2,Black,T-Shirt,F,F,1982/7/12,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_5...,198.70.73.53,True
7706,2016-10-01,4,HTS-523489-0004,523489,Black T-Shirt F,17.5,1,Black,T-Shirt,F,F,1956/11/18,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,165.214.234.248,False
18659,2015-05-16,17,HTS-565122-0002,565122,White T-Shirt F,18.0,3,White,T-Shirt,F,NaN,1954/4/20,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6...,139.198.213.218,True
6839,2015-05-24,13,HTS-163194-0003,163194,Black T-Shirt M,19.0,1,Black,T-Shirt,M,M,1951/1/21,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,132.205.121.112,False
4588,2015-01-19,13,HTS-668973-0003,668973,Black T-Shirt F,17.5,2,Black,T-Shirt,F,F,1980/6/3,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,162.75.174.86,True
16843,2015-08-18,12,HTS-619123-0003,619123,Black T-Shirt M,19.0,1,Black,T-Shirt,M,M,1954/9/23,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:51....,193.249.31.112,True
14199,2014-11-06,13,HTS-107676-0001,107676,White T-Shirt M,20.0,16,White,T-Shirt,M,NaN,1968/2/29,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6...,40.101.5.194,False
17069,2015-10-19,11,HTS-678957-0003,678957,Hoodie,23.0,14,Hoodie,None,None,F,1970/7/25,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,197.200.223.124,False
21842,2014-10-23,10,HTS-711393-0001,711393,Hoodie,23.0,1,Hoodie,None,None,M,1952/9/13,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...,178.236.185.153,True
24142,2015-11-14,10,HTS-prm79u-0001,prm79u,Tennis Shirt,24.0,2,Tennis,Shirt,None,M,1944/4/4,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_5...,164.97.106.37,False

Zadanie 3 (1 pkt)

Nową ramkę (połączenie orders i customers) zapisz do pliku csv, ale zapisz bez kolumny z indeksem.

In [141]:
from google.colab import drive
drive.mount('drive')

orders_customers.to_csv("orders_customers.csv",index=False)
!cp orders_customers.csv "drive/My Drive/PAD"

Drive already mounted at drive; to attempt to forcibly remount, call drive.mount("drive", force_remount=True).